body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.nav-link {
	color: #006DAA;
	font-weight: bold;
	text-decoration: none;
	padding-right: 20px;
}

.article {
	background-color: #FAF9F9;
	margin-bottom: 10px;
	padding: 15px;
	color: #011627;
}

a.article-title {
	color: #D12A54;
	text-decoration: none;
	font-weight: 800;
}

a.article-title:hover {
	color: #FF3366;
}

.article-details a  {
	color: #006DAA;
}
.article-details a:hover  {
	color: #5CA2C8;
}

.btn-clear {
  border: none;
  background: transparent;
}

.row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
}

.nav li {
	margin-right: 10px;
}
